<% content_for :keywords_content , @content.keywords %>
<% content_for :des_content , @content.short_content %>
<% content_for :title do %><%=@content.title %><% end %>
<div class="content_nav clearfix">
	<div class="nav_icon">
		<a href=""><i class="unordered list icon"></i></a>
	</div>
	<% if session[:username] %>
	<a class="login" href="/logout/"><i class="sign out icon"></i><%= session[:username] %></a> 
	<% end %>
</div>

<div class="container">
	<div class="con_article">
		<% if session[:username] == @content.user.name %>
		<button id="content_edit" class="ui red button" style="float: right; vertical-align: center;">编辑</button><% end %>
		<div class="preview">
			<h1 class="title"><%= @content.title %></h1>
			<div class="meta-top">
				<a href=""><%= @content.user.name %></a>
				<span><%= @content.created_at.strftime("%Y-%m-%d") %></span>
				<span><%= @content.read_count || 0 %>次阅读</span>
			</div>
			<div id="content_body" class="show_content markdown-body">
				<%== @res %>
			</div>

			<div class="like">
				<a class="btn">
					<span><i class="heart empty icon"></i><%= @content.praise_count || 0 %>个喜欢</span>
				</a>
			</div>
			<div id="SOHUCS"></div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$("#content_edit").on("click", function(){
		if($(this).text() == "提交"){

		}else{
		content_id = window.location.href.match(/content_(\d+)/)[1];
		$(this).text("提交");
		s = $.ajax({
			url: "/ajax?id="+content_id,
			type: "post",
			async: true,
			dataType: "json"
		});
		alert(s);
	}
	})
</script>